html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

#fondo{
    min-height: 75vh;
    margin-top: 10rem;
}

#fondo .contenedorPresentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#fondo h5{
    padding: 5px 0px;
    font-weight: 500;
    color: black;
}

#fondo h2{
    padding: 5px 0px;
    font-weight: 700;
    color: black;
    text-align: end;
}

#fondo p{
    padding: 0px 0px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.769);
}

#fondo .servicios{
    padding-top: 30px;
}

#fondo .servicios a{
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 12px 30px;
    font-size: 1rem;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in;

}
#fondo .servicios a:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.00);
}

.contenedorImg{
    display: flex;
flex-direction: row;
justify-content: start;
}

.contenedorImg img{
    width: 300px;
    border-radius: 10px;
}


/* ----------ACERCA DE MI---------- */

#acercaDeMi{
    background-color: #f2f2f289;
    padding-bottom: 80px;
}

.titulo__acerca{
    color: #4A4A4A;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: 800;
}

.parrafo__acerca{
    color: #373737;
    font-weight: 200;
    line-height: 30px;
    margin: 0px 80px;
}

/* SKILLS */

#skill{
    background-color: #e4e4e48c ;
}

.container-skills{
    padding-bottom: 80px;
    i{
        font-size: 3.5rem;
        margin: 10px 20px;
    }
}

.container-skills h2{
    color: #373737;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 800;
}
/* ----------PORTFOLIO---------- */

#portfolio{
    background-color: #d7d7d777 ;
    min-height: 50vh;
}

#portfolio .mancha{
    width: 500px;
    height: 300px;
    background-color: #a7a7a777;
    border-radius: 5px;
    position: absolute;
    left: -110px;
    top: -30px;
    z-index: -1;
}

#portfolio .contenedorPortfolio{
    box-shadow: 0px 0px 10px 2px rgba(118, 118, 118, 0.345);
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: none;
    }
}

#portfolio .contenedorMedio{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.tituloPortfolio{
    color: #292929eb;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 800;
}

.contendorPortfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contendorPortfolio .ohwa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
    p{
        height: 150px;
    }
}



.contendorPortfolio .edv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
    p{
        height: 150px;
    }
}

.contendorPortfolio .comparti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
    p{
        height: 150px;
    }
}

.contendorPortfolio .ohwa a .ohwaImg{
    width: 160px;
    height: 130px;
}

.contendorPortfolio .edv a .edvImg{
    width: 200px;
    height: 130px;
}

.contendorPortfolio .comparti a img{
    width: 300px;
    height: 130px;
}

/* ----------proyecto---------- */

#proyecto{
    background-color:#bfbfbf77 ;
    background-position: 20%;
    background-size: cover;
    min-height: 45vh;
}

.container-proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.fondo-cafe h3{
    color: black;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.fondo-cafe p{
    color: black;
    margin: 0px 20px;
    text-align: center;
    width: 700px;
    font-weight: 200;
    line-height: 30px;
}

#proyecto .linea{
    margin-top: 30px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.66);
    height: 2px;
}

#proyecto .telefono{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#proyecto .telefono img{
    width: 30px;
}

#proyecto .telefono p{
    margin: 10px 0px;
    padding: 0px;
    font-size: 1.1rem;
    font-weight: 400;
}


#proyecto .email{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#proyecto .email img{
    width: 30px;
}

#proyecto .email p{
    margin: 10px 0px;
    padding: 0px;
    font-size: 1.1rem;
    font-weight: 400;
}

.borde-form{
    border-radius: 10px;
}

#from-name{
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

#from-name:focus{
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 0.235);
    border: 1px solid transparent;
}

#from-lastName{
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

#from-lastName:focus{
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 0.235);
    border: 1px solid transparent;
}

#from-email{
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

#from-email:focus{
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 0.235);
    border: 1px solid transparent;
}

#comentarios{
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    resize: none;
}

#comentarios:focus{
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 0.235);
    border: 1px solid transparent;
}

.boton{
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 1rem;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in;
    width: 30%;
}
.boton:hover{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.00);
}

form .danger{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    width: 240px;
    padding: 7px 2px;
}

form .succes{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: green;
    border-radius: 5px;
    display: inline-block;
    width: 240px;
    padding: 7px 2px;
}

/* ----------footer---------- */

footer{
    background-color: black;
}


.container-img{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.container-img i{
    font-size: 2rem;
    color: white;
}

.copy{
    background-color: #2A2A2A;
    color: white;
    font-weight: 200;
}

.link-eric{
    color: white;
}

.link-eric:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (min-width:300px){
    #fondo .contenedorPresentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #fondo .contenedorPresentacion h2{
        padding: 5px 0px;
        font-weight: 500;
        color: black;
        font-size: 2rem;
    }

    .contenedorImg{
        display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
    .contenedorImg img{
        width: 250px;
        border-radius: 10px;
    }

    .container-img{
        width: 300px;  
    }
    .fondo-cafe p{
        width: 350px;  
    }

    .boton{
        margin-bottom: 20px;
    }
    .parrafo__acerca{
        width: 300px;
        text-align: center;
        color: #373737;
        font-weight: 200;
        line-height: 30px;
        margin: 0px auto;
    }

    #portfolio .mancha{
        width: 370px;
        height: 230px;
        background-color: #a7a7a777;
        border-radius: 5px;
        position: absolute;
        left: -110px;
        top: -30px;
        z-index: -1;
    }

    #portfolio .contenedorMedio{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
    

    

}

@media only screen and (min-width:576px){
    #fondo .contenedorPresentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #fondo .contenedorPresentacion h2{
        padding: 5px 0px;
        font-weight: 500;
        color: black;
        font-size: 2.3rem;
    }

    .contenedorImg{
        display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
    .contenedorImg img{
        width: 250px;
        border-radius: 10px;
    }

    .container-img{
        width: 400px;  
    }
    .fondo-cafe p{
        width: 500px;  
    }

    .boton{
        margin-bottom: 20px;
    }
    .parrafo__acerca{
        width: 500px;
        text-align: center;
        color: #373737;
        font-weight: 200;
        line-height: 30px;
        margin: 0px auto;
    }
    span{
        display: flex;
    
    }

    #portfolio .mancha{
        width: 500px;
        height: 330px;
        background-color: #a7a7a777;
        border-radius: 5px;
        position: absolute;
        left: -110px;
        top: -30px;
        z-index: -1;
    }
    #portfolio .contenedorMedio{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (min-width:780px){
    #fondo .contenedorPresentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #fondo .contenedorPresentacion h2{
        padding: 5px 0px;
        font-weight: 500;
        color: black;
        font-size: 2.5rem;
    }

    .contenedorImg{
        display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
    .contenedorImg img{
        width: 250px;
        border-radius: 10px;
    }
    .container-img{
        width: 450px;  
    }
    .fondo-cafe p{
        width: 600px;  
    }

    .boton{
        margin-bottom: 20px;
    }
    .parrafo__acerca{
        width: 700px;
        text-align: center;
        color: #373737;
        font-weight: 200;
        line-height: 30px;
        margin: 0px auto;
    }

    span{
        display: flex;
    
    }

    #portfolio .mancha{
        width: 700px;
        height: 430px;
        background-color: #a7a7a777;
        border-radius: 5px;
        position: absolute;
        left: -110px;
        top: -30px;
        z-index: -1;
    }
    #portfolio .contenedorMedio{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (min-width:1024px){
    #fondo .contenedorPresentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    #fondo .contenedorPresentacion h2{
        padding: 5px 0px;
        font-weight: 500;
        color: black;
        font-size: 4rem;
    }
    .contenedorImg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }
    
    .contenedorImg img{
        width: 300px;
        border-radius: 10px;
    }
    .container-img{
        width: 500px;  
    }
    .fondo-cafe p{
        width: 700px;  
    }

    .boton{
        margin-bottom: 20px;
    }
    .parrafo__acerca{
        color: #373737;
        font-weight: 200;
        line-height: 30px;
        margin: 0px auto;
    }

    span{
        display: flex;
    
    }

    #portfolio .mancha{
        width: 470px;
        height: 250px;
        background-color: #a7a7a777;
        border-radius: 5px;
        position: absolute;
        left: -110px;
        top: -30px;
        z-index: -1;
    }

    #portfolio .contenedorMedio{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (min-width:1024px){
    #portfolio .mancha{
        width: 500px;
        height: 300px;
        background-color: #a7a7a777;
        border-radius: 5px;
        position: absolute;
        left: -110px;
        top: -30px;
        z-index: -1;
    }

    #portfolio .contenedorMedio{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

}




